body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh; /* Utilise min-height au lieu de height pour permettre le scroll */
    overflow-y: auto; /* Permet le défilement vertical */
}



body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('GT1-Screen1.png');
    background-size: cover;
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}

header {
    color: #630a6e;
    text-align: center;
    padding: 2rem 0;
    z-index: 1;
    position: relative;
}

main {
    padding: 1rem;
    position: relative;
    z-index: 1;
    text-align: center;
}

.content {
    padding: 2rem;
    background-color: transparent; 
    color: #fff; 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1rem; 
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

ul li .recommended {
    color: #00ff00; 
    font-weight: bold;
    font-size: 1.3rem; 
}


li {
    margin-bottom: 0.5rem;
}

.highlight {
    font-weight: 700;
    color: #ffae42; 
}

.highlight2 {
    font-weight: 700;
    color: #5a0053; 
}

.large {
    font-size: 1.5rem; 
    margin-bottom: 2rem;
}

.highlight.large {
    margin-bottom: 2rem; 
}

.highlight2.large {
    margin-bottom: 2rem;
}

.back-button {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
}

.back-button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.back-button img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.back-button span {
    font-family: 'Roboto', sans-serif;
    color: #7f0383; 
}

